*{
    padding: 0;
    margin: 0;
}
body{ 
    font-family: 'Poppins', sans-serif;  
} 
.w-100{
    width: 100%;
} 
.w-half{
    width: 50%;
}
.w-45{
    width: 45%;
}
.container{
    padding: 3% 5%;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.bg-lite-blue{
    background-color: rgba(235, 245, 251,0.3);
}
.color-lite-blue{
    color: #3b81af;
}
.color-lite-dark{
    color: rgb(85, 84, 84);
}
.color-lite-gray{
    color:#9d9e9e;
}
.padding-left-1{
    padding-left:5%;
}
.padding-right-1{
    padding-right:5%;
}
.padding-bottom-sm{
    padding-bottom:1.5rem;
}
.img-area img{
    width: 100%; 
    vertical-align: middle;
}
.heading-content h1{
    font-size: 55px; 
    text-transform: capitalize;
}
.margin-top-sm{ 
    margin-top: 1rem;
}
.margin-top-1{ 
    margin-top: 30px;
}
.margin-top-2{
    margin-top:100px;
}
.box-shadow-1{
    box-shadow: 3px 5px 22px rgba(128, 128, 128,0.5);   
} 
.btn{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    display: inline-block;
    background-image: linear-gradient(to right, #12b9dc, #00a8e8, #0093f2, #007bf5, #125deb);
    box-shadow: -10px 1px 11px rgba(0, 168, 232,0.3);
}
.border-radius-sm{
    border-radius: 5px;
} 
.about-me-container{
    background: url(images/background/about-me.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    padding-bottom: 0;
    padding-top: 0;
}
.title{
    margin-bottom: 60px; 
}
.title-content{ 
    margin: 0 auto;
    text-align: center;
}
.card{
    width: 23%;  
}
.card .img-area img{
    border-radius: 4px 4px 0 0 ;
}
.card-body{
    background-color:rgba(18, 186, 220, 0.808);
    padding: 15px 10px;
    color: white;
    border-radius: 0 0 4px 4px;
}
.card-body h3{ 
    font-weight: 600;
} 
.column-area{
    justify-content: space-between; 
}
.column{
    width: 28%;
    padding: 13px;
    border-radius: 25px; 
}
.column img{
    width: 100%;
    border-radius: 20px;
} 
.social-activi-content div{
    width: 30%;
    padding: 60px;
    justify-content: space-evenly;
    text-align: center; 
}
.social-activi-content{  
    border-radius: 15px;
}
.social-activi-content div h1{ 
    font-size: 2.5rem; 
}
.address{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px; 
}  
.address-img img{
    width: 40px;  
    border-radius: 50%;
    padding: 20px;
    border: 2px dotted #007bf5;
} 
.gmail-img img{ 
    width: 40px; 
    border-radius: 50%;
    padding: 20px;
    border: 2px dotted #007bf5;
}
.form-left-bottom { 
    justify-content: space-between;
    align-items: center;
    text-align: center; 
}
.gmail{
    width: 45%;  
    padding: 10px; 
}
form{  
    padding: 40px 30px;
    width: 100%;
}
form input{  
    width: 40%;
    padding: 10px;
    border:1px solid rgba(128, 128, 128, 0.5);
} 
.subject{
    width: 96%;
}
textarea{ 
    width: 100%;
    margin-top: 20px; 
    border:1px solid rgba(128, 128, 128, 0.5);
}
.send-div{
    display:flex;
    justify-content: center;
    margin-top: 20px; 
}
footer{
    background: #0a0c16;
    padding:40px 70px 70px;
    color: white;
}
.footer-content{
    text-align: center;
}